asgiref
certifi
charset-normalizer
distlib
Django
django-cors-headers
djangorestframework
filelock
googlemaps
idna
pipenv
platformdirs
requests
setuptools
sqlparse
tzdata
urllib3
virtualenv
